@model IEnumerable<Store.BusinessLogic.Models.Basket.BasketLine>
@{
    ViewData["Title"] = "Корзинка";
}
<div>
    <h1 class="display-4">Корзинка</h1>
</div>
<hr/>
<br/>
@if( !Model.ToArray().Any() )
{
    <div class="text-center alert alert-danger">Пока что корзинка пуста</div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
        <tr class="d-flex">
            <th class="col-2">Наименование</th>
            <th class="col-5">Описание</th>
            <th class="col-1">Цена</th>
            <th class="col-1">Кол-во</th>
            <th class="col-1">Сумма</th>
            <th class="col-2"></th>
        </tr>
        </thead>
        <tbody>
        @foreach( var line in Model.OrderBy( x => x.Id ) )
        {
            <tr class="d-flex">
                <td class="col-2">@line.Product.Title</td>
                <td class="col-5">@line.Product.Description</td>
                <td class="col-1">@line.Product.Price руб</td>
                <td class="text-center col-1">
                    <div>
                        <a asp-action="ChangeCount"
                           asp-route-productId="@line.Product.Id"
                           asp-route-count="@( line.Count + 1 )">
                            +
                        </a>
                        @line.Count
                        @if( line.Count == 1 )
                        {
                            <span class="isDisabled">-</span>
                        }
                        else
                        {
                            <a asp-action="ChangeCount"
                               asp-route-productId="@line.Product.Id"
                               asp-route-count=@( line.Count - 1 )>
                                -
                            </a>
                        }
                    </div>
                </td>
                <td class="col-1">@line.Total руб</td>
                <td class="text-center col-2">
                    <a asp-action="Remove"
                       asp-route-productId="@line.Product.Id"
                       class="btn btn-outline-danger">
                        Удалить
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div>
        <b>Итоговая сумма: <i>@Model.ToArray().Select( x => x.Product.Price * x.Count ).Sum()</i> руб</b>
    </div>
    <br/>
    <div>
        <a class="btn btn-outline-info" asp-controller="Sale" asp-action="Accept">Оформляем</a>
    </div>
}